*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  background-image: url(./imagem/imagem-de-fundo.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagem-fundo{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.imagem-master{
  min-width: 290px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-master{
  width: 300px;
}

.container{
  width: 500px;
  height: 350px;
  perspective:700px;
}

.front, .back{
  position: absolute;
  width:100%;
  height: 100%;
  padding: 5px;
  border-radius: 15px;
  transition: 700ms;
}

.front{
  background-color: rgba(255, 255, 255, 0.479);
  z-index: 1;
}

.back{
  background-color: rgb(255, 255, 255);
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.container:hover .front{
  transform: rotateY(180deg);
  z-index: 0;
}

.container:hover .back{
  transform: rotateY(0);
  z-index: 1;
}

.container-back{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: px;
}

.chip{
  width: 55px;
  height: 60px;
  padding: 10px;
}

.numero{
  padding: 10px;
}

.data-validade{
  padding: 5px 170px;
}

.nome-numero{
  padding: 5px;
}

.logo-pequena{
  display: flex;
  justify-content: end;
  
}

.logoMaster-pequena{
  width: 55px;
  height: 60px;
}